<md-content layout-padding>
    <div>
        <form name="userForm">
            <div layout-gt-xs="row">
                <md-input-container>
                    <label>First Name</label>
                    <input required ng-model="$ctrl.selected.first_name">
                </md-input-container>

                <md-input-container>
                    <label>Last Name</label>
                    <input required ng-model="$ctrl.selected.last_name">
                </md-input-container>
            </div>
            <div layout-gt-xs="row">
                <md-input-container class="md-block" flex-gt-xs>
                    <label>IBAN</label>
                    <input required ng-model="$ctrl.selected.iban">
                </md-input-container>
            </div>
            <md-dialog-actions layout="row">
                <span flex></span>
                <md-button ng-show="$ctrl.selected.id" class="md-raised md-warn" ng-click="$ctrl.onDelete()">
                    DELETE
                </md-button>
                <md-button ng-show="$ctrl.selected.id" class="md-raised md-primary" ng-click="userForm.$valid && $ctrl.onSubmit()">
                    Save
                </md-button>
                <md-button ng-show="!$ctrl.selected.id" class="md-raised md-primary" ng-click="userForm.$valid && $ctrl.onSubmit()">
                    Add
                </md-button>
                <md-button class="md-raised" ng-click="$ctrl.onCancel()">
                    Cancel
                </md-button>
            </md-dialog-actions>
        </form>
    </div>
</md-content>
